@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --bg-color: hsl(212, 45%, 89%);
  --card-color: hsl(0, 0%, 100%);
  --heding-color: hsl(218, 44%, 22%);
  --text-color: hsl(216, 15%, 48%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: Outfit, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

.card {
  max-width: 320px;
  background-color: var(--card-color);
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
}

.card img {
    border-radius: 10px;
}

.card-content {
    padding: 1.5rem 1rem;
}

.card h1 {
    color: var(--heding-color);
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.card p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.4;
    letter-spacing: 0.2px;
}