/* CSS Reset and Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Figtree", sans-serif;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
  text-wrap: balance;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

/* Variables */
:root {
  --base-font-size: 16px;
  --color-primary: hsl(47, 88%, 63%);
  --color-dark-gray: hsl(0, 0%, 7%);
  --color-light-gray: hsl(0, 0%, 42%);
  --color-white: hsl(0, 0%, 100%);

  --font-weight-medium: 500;
  --font-weight-extra-bold: 800;
}

html {
  font-size: var(--base-font-size);
}

/* Typography */
.blog-text__title {
  font-weight: var(--font-weight-extra-bold);
  font-size: 1.5rem;
}

.blog-text-regular {
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
}

.blog-text-small,
.blog-text-bold {
  font-size: 0.875rem;
}

.blog-text-small {
  font-weight: var(--font-weight-medium);
}

.blog-text-bold {
  font-weight: var(--font-weight-extra-bold);
}

/* Layout */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-primary);
}

.blog-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  width: 24rem;
  height: 32.625rem;
  padding: 1.5rem;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem 0 0 black;
  border: 0.0625rem solid var(--color-dark-gray);
  transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out;
}

.blog-preview:hover,
.blog-preview:focus,
*[tabindex]:focus {
  cursor: pointer;
  box-shadow: 1rem 1rem 0 0 black;
  color: var(--color-primary);
}


.blog-preview__image {
  border-radius: 0.625rem;
}

.blog-preview__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;
  height: 100%;
}

.blog-preview__badge {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  color: var(--color-dark-gray);
}

.blog-preview__date {
  color: var(--color-dark-gray);
}

.blog-preview__description {
  color: var(--color-light-gray);
}

.blog-preview__footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-dark-gray);
}

/* Key advantage of rem units:
   Changing the root font size scales all rem-based elements proportionally.
   This allows for easy, consistent resizing across different screen sizes.
*/
@media screen and (max-width: 28.5rem) {
  /* styles for screens smaller than 28.5rem */
  :root {
    --base-font-size: 12px;
  }
}