@import url("resetter.css");

html, body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  background-color: var(--Stone-100);
  display: grid;
  place-items: center;
}

h1, h3 {
  font-family: var(--font-family-serif);
}

h2 {
  font-size: 1.25rem; /* 20px */
}

h3 {
  color: var(--Brown-800);
  font-size: 1.75rem; /* 28px */
}

p, strong, li {
  color: var(--Stone-600);
}

ul, ol {
  padding-left: 1rem;
}

ul li::marker, ol li::marker {
  color: var(--Rose-800);
  font-weight: bold;
}

ul li::marker {
  font-size: 0.625rem; /* 10px */
}

li {
  padding-left: 1rem;
}

hr {
  height: 0.0625rem; /* 1px */
  background-color: var(--Stone-150);
  border: none;
}

.recipe {
  max-width: 26.25rem; /* 420px */
  background-color: var(--White);
  display: grid;
}

.recipe__main {
  display: grid;
  row-gap: var(--size-32);
  padding: var(--size-40) var(--size-32);
}

.recipe__picture {
  display: grid;
  place-items: center;
  width: 100%;
}

.recipe__image {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.recipe__header {
  display: grid;
  row-gap: 1.5rem;
}

.recipe__header .recipe__title {
  font-size: var(--size-36);
  color: var(--Stone-900);
}

.recipe__preparation,
.recipe__ingredients,
.recipe__instructions,
.recipe__nutrition {
  display: grid;
  row-gap: var(--size-24);
}

.recipe__preparation {
  background-color: var(--Rose-50);
  padding: var(--size-24);
  gap: var(--size-16);
}

.recipe__preparation .recipe__preparation-title {
  color: var(--Rose-800);
}

.recipe__preparation .recipe__preparation-list,
.recipe__ingredients .recipe__ingredients-list,
.recipe__instructions .recipe__instructions-list {
  display: grid;
  row-gap: var(--size-8);
}

.recipe__nutrition .recipe__nutrition-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.recipe__nutrition .recipe__nutrition-row {
  border-bottom: 1px solid var(--Stone-150);
}

.recipe__nutrition .recipe__nutrition-row:last-child {
  border-bottom: none;
}

.recipe__nutrition .recipe__nutrition-cell {
  padding: 0.5rem 0 0.5rem 1rem; /* 8px 0 8px 16px */
}

.recipe__nutrition .recipe__nutrition-cell:first-child {
  color: var(--Stone-600);
}

.recipe__nutrition .recipe__nutrition-cell:last-child {
  color: var(--Brown-800);
  font-weight: bold;
}

@media only screen and (min-device-width: 420px) {
  .recipe {
    max-width: 38.5rem; /* 616px */
    row-gap: var(--size-32);
    padding: var(--size-40);
    margin: 8rem auto; /* 128px */
    border-radius: 1.5rem; /* 24px */
  }

  .recipe__main {
    padding: 0;
  }

  .recipe__header .recipe__title {
    font-size: var(--size-40);
  }

  .recipe__picture .recipe__image {
    border-radius: 0.75rem; /* 12px */
  }
}

@media only screen and (min-device-width: 1024px) {
  .recipe {
    max-width: 46rem; /* 736px */
  }
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem; /* 1px */
  height: 0.0625rem; /* 1px */
  margin: -0.0625rem; /* -1px */
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
